.seminar-edit-page {
  margin-top: 60px;

  .form-control {
    padding-left: 15px !important;
  }

  textarea {
    height: auto !important;
  }

  i.fa-calendar {
    color: white;
  }

  .complete-class-text {
    text-align: right;
  }
}