.seminar-index-page {
  margin-top: 60px;

  .panel-sub-title {
    color: lightgrey;
    margin-top: 5px;
  }

  .add-file-to-dropbox input {
    background: transparent;
    border: none;
    font-style: normal;
    text-align: left;
    padding: 0px;
  }
}